<ion-view ng-controller="noNetworkCtrl">
  <ion-content class="bg-pat8">
  <br>
  <br>
  <br>
  <div class="row">
      <div class="col-20">
          
      </div>
      <div class="col">
          <img src="img/network.gif" style="width: 100%">
      </div>
      <div class="col-20">
          
      </div>
  </div>
 
      <div class="row">
        <div class="col text-center">
          <p class="pointer">
            <span style="font-size: 18px;">No Internet Connection.
          </p>
          <p class="pointer">
            <span ng-click="goOnline()" style="font-size: 27px;color:orange" class="color-orange">Retry!</span></span>
          </p>
        </div>
      </div>
    
  </ion-content>
</ion-view>