<ion-view view-title="Got" ng-controller="home">
  <ion-content class="hero-bkg-animated-ab-l" style="padding-bottom:30px;" scroll="false">
 
<!-- <div class="row">
	<div class="col" align="left">
	<span ui-sref="user.home">
		<i class="ion-chevron-left ion-chevron-left font-bold font-class3" ></i>
		<i class="ion-chevron-left ion-chevron-left font-bold font-class3" ></i>

	</span>
	</div>
	<div class="col">

	</div>
</div>  -->

	<div class="row bg-head m-left-0" >
        <div class="col-md-12 ">
            <center><div ng-include="'templates/home-new/home-desk.html'"></div></center>
        </div>
    </div>
<center class="font-20 p-left-3 m-bottom-10 m-top--32 theme-col font-fantasy font-bold font-class3 "> 
	 About us
	</center>	
<div class="kk about-bg	overflow-y container" style="height:490px;">
 


	<p class="m-top-12 p-left-5 p-right-5 font-15"> 
	It is common knowledge that Engish is the most widely spoken official language in the world. It is also the main language used in international affairs and is indisputably the primary language of global trade and commerce.</p>

<p class="p-left-5 p-right-5 font-15">
	So, when a student graduates, hs/her vocational intelligence alone will not do. Vocational intelligence must be complemented by verbal intelligence. The students who are being churned out from colleges and universities of our country are not entirely equipped to face the global competition prevailing today in terms of communicative competence. Laying a strong foundation at the school level for raising a towering edifice of career has become the need of the hour.
</p>
<p class="p-left-5 p-right-5 font-15">
	To cater to this need, SpellBeeInternational, in partnership with I.N.D.I.A. TRUST has developed a movement for school students: to cultivate and nurture their thirst for language specific knowledge. It is our promise to make learning a joyful and equally productive venture.
</p>

<p class="p-left-5 p-right-5 font-15">
	Once a student registers with u, it is a guaranteed roller coaster ride of contests and Rewards and Recognitions.The first level of competitions will happen at the School. This will be followed by District (Inter-school), State, National and International levels of competitions. The students, as they qualify, will transcend from one level to the next.

</p>


<p class="p-left-5 p-right-5 font-15">
	Our team of linguistic experts ith more than three decades of expertise, has crafted books for students according to their age with appropriate standards.For School level and District level Competitions a guidance booklet will be provided from which questions will appear. The contents presented will clearly explain the various rounds of the competitions. SpellBee International has also included a round for General Knowledge to chisel out the participants of SpellBee a cut above the rest.
</p>


<p class="p-left-5 p-right-5 font-15">
Our Competition Rounds are interestng, challenging and have a proven record of accolades from many schools. To know more about competition details	
</p>


<p class="p-left-5 p-right-5 font-15">
Let us all contribute our might towrds the arduous task of shaping the next generation who will outshine us!	
</p>

</div>




  </ion-content>
</ion-view
