<ion-view view-title="Got" ng-controller="home">
  <ion-content class="hero-bkg-animated-h-log" scroll="false">
 

 
  

<div class="row mp-top-20">
<div class="col">

<!-- <center>
   <button class=" width-30 button button-block border-radius-20 color-white custom-button" ui-sref="user.leaderboard"> 
<span class="font-bold color-white">Leader board</span>
</button>
</center> -->
 


	<ion-slide-box show-pager="false">

   <ion-slide>
      <div class= "" ng-click="grade()"> 
      <center>
      	<div class="module_class mid mid1">
<p class="font-20">PLay Game </p>
</div>
      </center>
        
      </div>
   </ion-slide>


</ion-slide-box>
</div>
	
</div>
<!-- <center class="mp-top-10">
   <p class="color-white position_set11 font-20 font-class3 font-bold theme-col" ng-click="leader()">Leaderboard</p>
</center> -->


<div class="row border_box1">
    <div class="col" ng-click="about()">
<div>
   <p class="color-white font-20  font-bold theme-col" style="    font-family: fantasy;">About</p>
</div>
    </div>

    
 </div>

 <div class="row border_box1">
    <div class="col" ng-click="leader()">
      <div>
   <p class="color-white font-20 1 font-bold theme-col"  style="    font-family: fantasy;">Leaderboard</p>
</div>
    </div>

    
 </div>

 

  </ion-content>
</ion-view>