<ion-view view-title="Got" ng-controller="question">
  <ion-content class="hero-bkg-animated-q">
  
 <div class="row">
    <div class="col" align="left">
<div>
   <p class="color-white font-20 font-bold theme-col">{{counter}} Sec</p>
</div>
    </div>

    <div class="col" align="right">
      <div>
   <p class="color-white font-20 font-bold theme-col" >Score {{score_value}}</p>
</div>
    </div>
 </div>

 <!-- style=" height: 1000px;" -->
<div class="row">
   <div class="col">
 <div id="yourElement" class="mp-top-15  animated zoomInDown" ng-repeat="item in questions">
 <div ng-if="quizz_index == $index" class="own_class">
     <p>
   <center class="font-class5 font-bold">
     Level  Question : {{level}}
   </center> 
 </p>
    <p class="font-class4 mp-top-10">
    {{item.question}} ?</p>

<!-- <div class="row">
   <div class="col">
    <p class="font-class m-top-25 opaq-bg">A. Play computer games</p>
      
   </div>
   <div class="col">
    <p class="font-class m-top-25 opaq-bg">B. Play sport and exercise</p>
   </div>
</div>

<div class="row">
   <div class="col">
    <p class="font-class m-top-25 opaq-bg">C. Watch television</p>
      
   </div>
   <div class="col">
    <p class="font-class m-top-25 opaq-bg">D. Eat cake</p>
   </div>
</div> --><div class="row">
   <div class="col">
      <p class="border-class mp-top-3">
   </div>
</div>
<div class="mp-top-4">
   <p >
   <center class="font-class5 font-bold" >
      Options :
   </center> 
 </p>
 <div >   

  <!-- <div class="row">
                    <div class="col-10">
                      <div class="form-check form-check-inline">
                        
                          <input class="form-check-input radio" checked type="radio" value="{{item.choice_1}}" ng-model="button.value" >
                        
                      </div>
                    </div>
                    <div class="col-90"><p class="ex1 font-class1  opaq-bg margin-bottom-0" >{{item.choice_1}}</p></div>
                  </div>

                  <div class="row">
                    <div class="col-10">
                      <div class="form-check form-check-inline">
                        
                          <input class="form-check-input radio" type="radio" value="{{item.choice_2}}" ng-model="button.value" >
                        
                      </div>
                    </div>
                    <div class="col-90"><p class="ex1 font-class1  opaq-bg margin-bottom-0" >{{item.choice_2}}</p></div>
                  </div>
                  <div class="row">
                    <div class="col-10">
                      <div class="form-check form-check-inline">
                        
                          <input class="form-check-input radio" type="radio" value="{{item.choice_3}}" ng-model="button.value" >
                        
                      </div>
                    </div>
                    <div class="col-90"><p class="ex1 font-class1  opaq-bg margin-bottom-0" >{{item.choice_3}}</p></div>
                  </div>
                  <div class="row">
                    <div class="col-10">
                      <div class="form-check form-check-inline">
                        
                          <input class="form-check-input radio" type="radio" value="{{item.choice_4}}" ng-model="button.value" >
                        
                      </div>
                    </div>
                    <div class="col-90"><p class="ex1 font-class1  opaq-bg margin-bottom-0" >{{item.choice_4}}</p></div>
                  </div>



<button class="button-class_a button button-block" ng-click="correcting_values(item,item.answer,button.value)"> 
<p class="" >Submit</p>
</button>
 -->
                

 <div class="row">
   <div class="col">
     <button class="option-butt1 font-class3 m-top-15 opaq-bg " ng-click="correcting_values(item,item.answer,item.choice_1)">{{item.choice_1}}</button>
   </div>
 </div>

 <div class="row">
   <div class="col">
     <button class="option-butt1 font-class3 m-top-15 opaq-bg " ng-click="correcting_values(item,item.answer,item.choice_2)">{{item.choice_2}}</button>
   </div>
 </div>

 <div class="row">
   <div class="col">
     <button class="option-butt1 font-class3 m-top-15 opaq-bg " ng-click="correcting_values(item,item.answer,item.choice_3)">{{item.choice_3}}</button>
   </div>
 </div>

 <div class="row">
   <div class="col">
     <button class="option-butt1 font-class3 m-top-15 opaq-bg " ng-click="correcting_values(item,item.answer,item.choice_4)">{{item.choice_4}}</button>
   </div>
 </div>

       <!--  <p class=" font-class3 m-top-20 opaq-bg " ng-click="correcting_values(item,item.answer,item.choice_1)">{{item.choice_1}}</p>
        <p class=" font-class3 m-top-25 opaq-bg " ng-click="correcting_values(item,item.answer,item.choice_2)">{{item.choice_2}}</p>
        <p class=" font-class3 m-top-25 opaq-bg " ng-click="correcting_values(item,item.answer,item.choice_3)">{{item.choice_3}}</p>
        <p class=" font-class3 m-top-25 opaq-bg " ng-click="correcting_values(item,item.answer,item.choice_4)">{{item.choice_4}}</p> -->
 </div>
  
</div>

 </div>     
 </div>

   </div>


</div>
 
<!-- <div class="row mp-top-20">
   <div class="col ">
      <p class="own_class1">A. Play computer games</p>
   </div>
   <div class="col">
      <p class="own_class1">B. Play sport and exercise</p>
   </div>
</div> -->

<!-- <div class="row">
   <div class="col">
      <p class="own_class1">C. Watch television</p>
   </div>
   <div class="col">
      <p class="own_class1">D. Eat cake</p>
   </div>
</div> -->


    <img src="img/aaazzz.gif" class="position_setim width-40">




  </ion-content>
</ion-view>