<ion-modal-view class="cancel-modal-dim">
      <ion-content class="mp-top-8">
                <div class="row" >
            <div class="col">
                <div class="start1-cont-style1 margin-t190">
                <div class="modal_class">
                <div class="row">
                	<div class="col">
                		<div class="pp-all-8">
                			 <center> <p class="font-20 font-class3">You Answer Is Wrong</p></center>
    <img src="img/aaazzz.gif" class="width-40 mp-left-35">
    <center>
    	<button class="button-class_a button button-block" ng-click="wrong_closeModal()"> 
<p class="" >Ok</p>
</button>
    </center>
                		</div>
                	</div>
                </div>
              
                	
                </div>
                </div>
            </div>
        </div>
      </ion-content>
   </ion-modal-view> 