<div class="" ng-controller="home">
    <div class="row">
      <div class="col-md-4">
          <img src="img/spellsmall.png" class="m-top-5">
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-5 font-class ">
        <div class="page-header scorecard shadow-board m-top-5">
            <ul class="nav m-left--10">
                <li class="nav-item p-right-20 p-left-20">
                    <p class="nav-link active cursor-pointer" ng-click="home()" >Home</p>
                </li>
                <li class="nav-item p-right-20 p-left-20">
                  <p class="nav-link active cursor-pointer" ui-sref="user.about" >About</p>
                </li>
                <li class="nav-item p-right-20 p-left-20">
                  <p class="nav-link cursor-pointer" ui-sref="user.leaderboard" >Leaderboard</p>
                </li>
                <li class="nav-item">
                  <p class="nav-link cursor-pointer"  ng-click="exit()" >Exit</p>
                </li>
              </ul>
        </div>

      </div>
      
      
    </div>
  </div>