<div view-title="login">
  <div ng-controller="loginctrl" class="bg-pat2 bg-gradiant height-inherit" scroll=false >
  <div class="container font-classs">
    
      <div class="row">
          <center>
              <div class="col-xs-12 m-top-15">
                  <img src="img/logo.png" class="width-250">
              </div>
          </center>
      </div>
      
      <div class="row">
          <div class="col-md-4 offset-md-4">
              <center class="font-17 font-bold  mp-bottom-5">
                  Type your<span class="font-19 font-class3 font-bold "> SPELLBEE ID</span>
              </center>
              <center>
                  <input type="" name=""  ng-model="spell_bee_id"  class=" bg_color border-box input-c-class p-left-20  width-80">
              </center>
          <!--<button class="button button-block border-radius-custom custom-border" ng-click="login(spell_bee_id)"> 
              <p class="button-c-class">Submit</p>
          </button>-->
          <!-- <div class="buttonwd  font-class" style="width: 80%;     background-color: #8D6E63;" ng-click="login(spell_bee_id)">
              <div class="" >Submit</div>
          </div> -->
          <center class="mp-top-7">
              <button class="new_button border-box bg_color1" ng-click="login(spell_bee_id)"> 
            <span class="color-black font-18 font-bold">SUBMIT</span>
            </button>
            
            </center>
          </div>
       </div>
</div>

<!-- <div class="row ">
  <div class="col-md-12">
    <img src="img/grass.png" style="width:100%; margin-top: -80px;">
  </div>
</div> -->



</div>
</div>